---
interface Event {
  date: string;
  month: string;
  title: string;
  description: string;
  link: string;
  highlighted: boolean;
}

const events: Event[] = [
  { date: "1st", month: "MARCH", title: "New Event", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit", link: "#", highlighted: false },
  { date: "1st", month: "MARCH", title: "New Event", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit", link: "#", highlighted: false },
  { date: "1st", month: "MARCH", title: "New Event", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit", link: "#", highlighted: false },
  { date: "1st", month: "MARCH", title: "New Event", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit", link: "#", highlighted: false },
];
---

<div class="relative w-full flex items-center justify-center bg-black/95">
  <div class="bg-transparent bg-cover bg-no-repeat py-16 px-8 rounded-lg">
    <div class="bg-[#1F1F1F]/40 w-max backdrop-blur-sm p-8 rounded-lg">
      <h2 class="text-white text-4xl font-mono mb-8 text-left">UPCOMING EVENTS</h2>
      <div class="grid grid-cols-2 gap-8 place-items-center">
        {events.map((event) => (
          <div class="group bg-[#1F1F1F]/40 px-6 py-8 rounded-lg border border-white/15 relative overflow-hidden group backdrop-blur-sm hover:border-[#02E53F] transition-colors duration-300 w-[500px] ">
            <div class="flex items-start gap-6">
              <div class="flex flex-col items-center">
                <div class="p-10">
                <span class={`text-2xl font-mono text-center group-hover:bg-gradient-to-b  from-[#95D500] to-[#02E53F] bg-clip-text group-hover:text-transparent`}>
                  {event.date}<sup class="text-sm">st</sup>
                </span>
              </div>
              
                <span class="text-neutral-400 text-center text-sm font-mono uppercase">{event.month}</span>
              </div>
              <div class="w-px h-30 bg-gray-500/30"></div>
              <div class="flex-1">
                <h3 class="text-white p-1 text-left font-mono mb-2 group-hover:bg-gradient-to-b from-[#95D500] to-[#02E53F] bg-clip-text group-hover:text-transparent">{event.title}</h3>
                <p class="text-neutral-400 text-left pl-10 text-sm mb-3">{event.description}</p>
                <a 
                  href={event.link} 
                  class="text-[#02E53F] text-left text-sm hover:text-emerald-400 transition-colors duration-300">
                  <u>REGISTER HERE</u> 
                </a>
              </div>
            </div>

            <div class="absolute inset-0 bg-[#1F1F1F]/40 opacity-1 drop-shadow-2xl group-hover:border-white transition-opacity duration-300"></div>
          </div>
        ))}
      </div>
    </div>
  </div>
</div>